<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xaqb.policescan">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".QBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.amap.api.location.APSService" />
        //高德
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d02754494517a7deac5371f21ee0062a" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".BackPWDActivity" />
        <activity android:name=".ComQueryActivity" />
        <activity android:name=".PerQueryActivity" />
        <activity android:name=".MapNavgActivity" />
        <activity android:name=".ClueListActivity" />
        <activity android:name=".ModifyPSWActivity" />
        <activity android:name=".MsgListActivity" />
        <activity android:name=".ComListActivity" />
        <activity android:name=".ComDelActivity" />
        <activity android:name=".PerListActivity" />
        <activity android:name=".PerDelActivity" />
        <activity android:name=".ClueDelActivity" />
        <activity android:name=".DataDelActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LogDelActivity" />
        <activity android:name=".LogAddActivity" />
        <activity android:name=".BrandActivity" />
        <activity android:name=".OrgActivityOne" />
        <activity android:name=".OrgActivityTwo" />
        <activity android:name=".OrgActivityThree" />
        <activity android:name=".OrgActivityFour" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".ExpressActivity" />
        <activity android:name=".BillQueryLogActivity" />
        <activity android:name=".ComDiaryCheckActivity" />
        <activity android:name="com.xaqb.MyTextActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity android:name=".JointDelActivity"></activity>
    </application>

</manifest>